/*Register*/

.transparente {
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
}

.bg-dark {
  position: fixed;
  z-index: 20;
  width: 100%;
}

.register {
  min-height: 100vh;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  background: linear-gradient(45deg, black, rgba(0, 0, 0, 0.85));
  padding: 5em 0 22.5em 0px;
}

.register-item {
  width: 75%;
  height: 70%;
}

.register-item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.register-form {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), #111);
  box-shadow: 1px 1px 2em #222;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .bg-dark {
    background-color: transparent !important;
  }

  .register {
    grid-template-columns: 1fr;
  }

  .register-form {
    margin-bottom: 100px;
  }

  .register-item:nth-last-child() {
    width: 75%;
    height: 100%;
    min-height: 300px;
    min-width: 300px;
  }

  .register-item img {
    width: 100%;
    min-height: 250px;
    height: 100%;
  }

  .register {
    background: url("../../assets/images/register-background-responsive.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .register-form-container {
    margin-bottom: 10em;
  }
}

/*EDITS*/

.overlay-form {
  background: rgba(14, 13, 13, 0.7);
}

.form-title {
  font-weight: 700;
}

.register-input {
  background: none;
  border: none;
  outline: none;
  color: white;
  height: 50px;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0 !important;
}

textarea.register-input {
  min-height: 15vh;
}

.btn-light {
  font-weight: 700;
}

.color {
  background-color: rgba(8, 8, 8, 0.7);
}
