/*Footer*/

.footer {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), #111);
  width: 100%;
  min-height: 50vh;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.footer-text,
.footer-entities,
.footer-contact {
  display: grid;
  justify-items: center;
  align-items: center;
}

.footer-contact ul li {
  font-weight: 100;
}

.footer-entities-grid {
  display: grid;
  grid-template-columns: 0.2fr 0.4fr 0.35fr;
  grid-gap: 20px;
}

.footer-entity {
  width: 100%;
  height: 100%;
}

.footer-entity img {
  width: 100%;
  height: 100%;
}
