@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');

html{
    overflow-x: hidden;
}

body{
    transition: 1.5s;
}

*{
    scroll-behavior: smooth;
    transition: 1.5s;
}

/*FONTS*/

.font-poppins{
    font-family: 'Poppins', sans-serif;
}

.font-lato{
    font-family: 'Lato', sans-serif;
}

/*HEADER*/

.content-head{
    background: url('../images/main-background.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    transition: 1s;
}

.header{
    background: linear-gradient(to bottom, rgba(0,0,0,.25), rgba(0,0,0,.125));
    position: fixed;
    z-index: 5;
}


.navbar-brand:hover, .nav-item:hover{
    transform: scale(1.2,1.2);
    transition: 2s;
}

/*HERO*/

.hero{
    width: 100%;
    height: 60vh;
    display: grid;
    align-items: center;
    justify-items: center;
    transition: 1s;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
}

.hero-content{
    width: 70%;
    background: linear-gradient(45deg, rgba(0,0,0,.5),rgba(0,0,0,.25));
    box-shadow: 0px 0px 40px rgba(0,0,0,.25);
    border-radius: 10px;
    padding: 20px;
    transition: 1s;
    align-self: center;
    position: relative;
    top: 30%;
}

.hero-title{
    font-weight: 300;
}

.hero-text{
    font-weight: 300;
}

/*ABOUT*/

.about{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: #010101;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 40px 0px;
}

.about-container{
    width: 70%;
    display: grid;
    grid-template-areas: "colsearch mapbox" "colsearch technologies";
    grid-gap: 30px;
}

.about-item{
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 40px rgba(150, 150, 150, 0.100);
    background: linear-gradient(45deg, rgba(30, 30, 30, 0.95), black, black);
    transition: 2s;
}

.about-item:hover{
    transition: 2s;
    transform: scale(1.1,1.1);
}

.about-title{
    text-align: center;
    margin: 5px;
}

.about-text{
    padding: 20px;
}

.about-colsearch{
    grid-area: colsearch;
    
}

.about-mapbox{
    grid-area: mapbox;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-height: 200px;
    overflow: hidden;
}

.about-mapbox-content{
    padding-bottom: 20px;
}

.about-mapbox-image{
    width: 100%;
    height: 100%;
    background: white;
    height: inherit;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px;
}

.about-mapbox-image img{
    width: 100%;
    height: 100%;
}

.about-technologies{
    grid-area: technologies;
}
.about-technologies ul li{
    margin: 0;
    padding: 0;
}

.about-tech-stack{
    display: grid;
    width: 100%;
    height: 100%;
    padding: 20px;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.about-tech-image{
    max-width: 120px;
    max-height: 100px;
    margin-bottom: 20px;
}

.about-tech-image img{
    width: 100%;
    height: 100%;
}

#react{
    animation: react 3s linear infinite;
}


/*FOOTER*/

.footer{
    background: linear-gradient(to top, rgba(0,0,0,1),#111);
    width: 100%;
    min-height: 50vh;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.footer-text,.footer-entities,.footer-contact{
    display: grid ;
    justify-items: center ;
    align-items: center ;
}

.footer-contact ul li{
    font-weight: 100;
}



/*RESPONSIVE*/
@media screen and (min-width: 800px){
    .about-text{
        font-size: .95rem;
    }
}

@media screen and (max-width: 900px){
    .hero-title{
        font-size: 4vw;
        transition: 1s;
    }

    .hero-text{
        font-size: 2vw;
        transition: 1s;
    }

    .about-container{
        display: flex;
        flex-wrap: wrap;
    }

    .about-text{
        font-size: 2vw;
    }
}

@media screen and (max-width: 576px){
    .hero-title{
        font-size: 5vw;
        transition: 1s;
    }

    .hero-text{
        font-size: 3vw;
        transition: 1s;
    }

    .about-tech-image img{
        width: 10vw;
        height: 10vw;
    }

    .about-title{
        font-size: 6vw;
    }

    .about-text{
        font-size: 3vw;
    }

    .content-head{
        background: url('../images/main-background-responsive.jpeg');
    }
}

@keyframes react{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}